<section class="home">
  <div class="home__content">
    <div class="home__text">
      <h1>Hello, I'm <span class="home__name">Amey Shirlekar</span></h1>
      <p class="home__role">Java Full Stack Developer | Angular Developer</p>
      <p class="home__intro">
        Full Stack Web Developer with 1.9 years of experience building responsive, high-performance web applications using Angular (8–18), Java, and Spring Boot. Skilled in Full stack web development, unit testing, service integration, and Agile methodologies. Proven success in delivering scalable solutions across Telecom and Investment Banking domains.
      </p>
      <div class="home__cta">
        <button routerLink="/projects" class="btn btn-primary">View Projects</button>
        <button routerLink="/contact" class="btn btn-secondary">Contact Me</button>
      </div>
    </div>
    <div class="home__image">
      <img src="https://i.postimg.cc/hGBvK405/my-photo.jpg" alt="Your Name" />
    </div>
  </div>
</section>

